anyio==4.0.0
click==8.1.3  # You didn't mention updating click, so keeping the original version
dnspython==2.5.0
fastapi==0.110.1
h11==0.14.0  # You're already using the latest version
idna==3.4  # You're already using the latest version
motor==3.1.1  # You didn't mention updating motor, so keeping the original version
pydantic==2.7.0
pymongo==4.6.2
python-dotenv==1.0.0
sniffio==1.3.0  # You're already using the latest version
starlette==0.37.2  # You're already using the latest version
typing_extensions==4.10.0
uvicorn==0.19.0  # Upgrade with caution, review documentation first
email-validator>=1.2.0
jose==1.0.0
python-jose[cryptography]==3.3.0  # You're already using the latest version
firebase-admin==6.4.0  # Upgrade with caution, review documentation first

# CI/CD;
pytest==7.2.0
pytest-asyncio==0.20.0
flake8==4.0.1  # You're already using the latest version